src/main/mule/get-games.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ed421282-719b-4fed-8672-945235370369" basePath="/api">
		<http:request-connection host="localhost" />
	</http:request-config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="05538560-38bd-4d5d-9cd4-454af87786a1" >
		<mongo:connection database="games2" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="get-games" doc:id="4b059e0d-f5b3-4ddf-a821-ffb25d3b230e" >
		<logger level="INFO" doc:name="/game-videos start to get all games" doc:id="6247a21b-4018-48f4-ac5f-441b3116a690" message="start to get all games"/>
<!-- [STUDIO:"retrieve data to sapi "]		<http:request method="GET" doc:name="retrieve data to sapi " doc:id="2b6dd61c-f3f0-4c3d-ae67-2f78cc91d464" config-ref="HTTP_Request_configuration" path="/games">
			<http:query-params ><![CDATA[#[output application/java
&#45;&#45;-
{
	"key" : "64d9e00e544e4dfc83b3b79b21fd1bb6"
}]]]></http:query-params>
		</http:request> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="3db24e9a-36a2-46ec-92df-840c0a4532a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/json
---
{
	"platform":attributes.queryParams.platform,
	"store":attributes.queryParams.store
}]]></ee:set-variable>
				<ee:set-variable variableName="mogocollection" ><![CDATA["video-games4"]]></ee:set-variable>
				<ee:set-variable variableName="mongofields" ><![CDATA["name,rating,released,platform,genres,store,rating_top"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<mongo:find-documents doc:name="Find documents" doc:id="85b61ccc-1ada-4dca-95ca-6c5e833031e7" config-ref="MongoDB_Config" collectionName="#[vars.mogocollection]" fields="#[vars.mongofields]">
			<mongo:query ><![CDATA[#[output application/json
---
vars.query]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="aec678f5-2c3f-4a6b-9413-f6c8d9bc8283" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
